<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Successful</title>
</head>
<body>
    <h1>Payment ?</h1>
    <p>Your Shopping for WOCC 2024 need to be confirmed.</p>
    <p>Maybe an issue with your Shopping payment. Please try again or contact the administrator.</p>
    <p><a href="mailto:***@***.comsubject=Payment-Help:Contact%20Admin&body=Please%20provide%20your%20name,%20email,%20Shopping%20type%20and%20the%20last%20six%20digits%20of%20your%20payment%20card.">
      Contact Admin(Please provide your name, email, Shopping type, paper ID, pay time and the last six digits of your payment card.)
    </a></p>
    <p><a href="https://yoursite">Retry Shopping</a></p>
</body>
</html>